@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --olivine: #b6d094;
  --buff: #e1aa7d;
  --persianOrange: #be8a60;
  --wine: #6a2e35;
  --raisinBlack: #2e2836;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Indie_Flower";
  src: local("Indie_Flower"),
    url("../public/assets/fonts/IndieFlower-Regular.ttf") format("truetype");
}

body {
  /* display: flex; */
  /* flex-direction: column; */
  /* position: relative; */
  /* background-image: url("../public/assets/images/background/bgr-image.jpg"); */

  /* background-color: #cccccc; */
  /* background-color:pink; */
  /* background-blend-mode: color-burn; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /* width: 100%; */
  /* height: 100vh; */
  /* 
  @media (max-width: 640px) {
    /* max-width: 90%; */
  /* margin: 0 50px; */
  /* } */
  /* Background */
  /* background-image: radial-gradient(#f5c666 15%, #ffffff 20%); */
  /* background-position: 0 0; */
  /* background-size: 60px 60px; */
  /* height: 2000px; */

  color: var(--raisinBlack);
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NAV-LINK */

.nav-link svg {
  font-size: 2.5rem;
  text-align: center;
}
@media (max-width: 640px) {
  .nav-link {
    min-width: 20%;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 25px;
    opacity: 70%;
  }
  /* span {
    font-size: 14px;
  } */

  .nav-link svg {
    font-size: 1.2rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Indie_Flower, serif;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}

/* .recipe-card-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  overflow-x: scroll;
  margin: 3px 8px 3px 8px;
} */

.recipe-card {
  /* min-width: 200px; */
  border-right: 2px solid var(--buff);
  /* border-radius: 2rem; */
  /* box-shadow: 0 3px 5px 0 var(--olivine); */
  /* margin: 2px 14px 5px 2px; */
  padding: 2px 10px;
}

.recipe-card:hover {
  /* box-shadow: 0 2px var(--buff); */
  /* border-left: 2px solid var(--buff); */
  /* border-right: 2px solid var(--buff); */
  border-bottom: 2px solid var(--buff);
  /* background: red; */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.popular-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  /* background-image: linear-gradient(35deg, #bfc3c4, white); */
  /* background-image: linear-gradient(35deg, var(--buff), white); */
  border: 2px var(--buff) solid;
  /* border-radius: 2rem; */
}

@media (max-width: 640px) {
  .popular-container {
    margin: auto;
    max-width: 95%;
  }
}

/* @media (max-width: 640px) {
  img {
    padding: 3px 5px;
    max-width: 150px;
    max-height: 180px;
  }
  div {
    position: absolute
bottom: 19px;
margin-bottom: 2px;
/* padding: 0 10px; */
/* width: 99%; */
/* height: 99%; */
/* max-width: 99%; */
/* z-index: 15;
    font-size: 1.3rem;
  } */

/* .nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1.2rem 1.2rem;
  /* margin-bottom: 1.6rem; */

@media (max-width: 600px) {
  .nav-list {
    padding: 0;
    /* margin: 10px 0; */
  }
  .nav-list a svg {
    display: none;
  }
}

footer {
}

@media (max-width: 640px) {
  footer {
    font-size: 1rem;
  }
}

.header-text {
  /* width: fit-content;

  text-align: center;
  background: linear-gradient(
    to left,
    transparent,
    white,
    white,
    white,
    white,
    transparent 100%
  );
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;

  display: flex; */
  font-family: Indie_Flower, serif;
}
@media (max-width: 640px) {
  .header-text {
    font-size: 1.3rem;
    max-width: 99%;
  }
}

.hero-container {
  background-image: url("../public/assets/images/hero/bread.jpg");
  padding: 0.5rem 0;
  margin: 0;
  box-shadow: 3px 3px 10px 3px lightgray;
}

.recipe-card-img {
  width: 200px;
  /* max-height: 100px; */
}

form {
  margin: 2rem;
  display: flex;
  padding: 1px;
  flex-direction: column;
  max-width: 500px;
  box-shadow: 0 0 0.1 0 black;
}

input,
select {
  padding: 0.5rem;
  border: 1px solid blue;
  margin: 0.5rem;
}

li span {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: rgba(229, 171, 11, 0.3);
}

/* ul li::before {
  content: "";
  color: rgba(245, 80, 15, 0.9);
  margin-right: 4px;
  font-size: x-large;
  opacity: 50%;
  text-decoration: none;
} */
/* ul li::before {
  content: "-";
  color: hotpink;
  font-size: large;
  margin-right: 4px;
} */

ol {
  list-style-type: decimal;
  /* list-style-position: inside; */
}

li::marker {
  color: hotpink;
  animation: color-change 3s ease-in-out infinite;
}

.textStroke {
  /* -webkit-text-fill-color: #d1fae5; Will override color (regardless of order) */
  -webkit-text-fill-color: black; /*Will override color (regardless of order)*/

  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}
